{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}
{% block body %}
<div class="container">
<h1>Reset Your Password</h1>
  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}}" role="alert" style="margin: 0 auto;">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="wrapper fadeInDown">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.repeat_password.label }}<br>
                {{ form.repeat_password(size=32) }}<br>
                {% for error in form.repeat_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        
    </div>
  </div>
</div>
{% endblock %}