{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Registrar{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}}" role="alert" style="margin: 0 auto;">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Reset Form -->
        {{ wtf.quick_form(form) }}    
      </div>
    </div>
  </div>
</div>
{% endblock %}